@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@await Component.InvokeAsync("DashboardStatictic")
<div class="row">
    @await Component.InvokeAsync("DashboardContacts")
    <div class="col-lg-8">

        <div class="row">
            @await Component.InvokeAsync("GetArticles")
            @await Component.InvokeAsync("GetAnnouncements")

        </div>


        <div class="row">
         @await Component.InvokeAsync("GetAssignments")
          @await Component.InvokeAsync("GetComments")
        </div>

    </div>


</div>

<script src="~/inspinia-gh-pages/js/plugins/sparkline/jquery.sparkline.min.js"></script>

