@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/css/jquery.toast.min.css" rel="stylesheet" />
<script src="~/lib/jquery.toast.min.js"></script>



@await Component.InvokeAsync("DashboardStatictic")
<div class="row">

    @if (User.HasClaim("Permission", "Contact.Read"))
    {
        @await Component.InvokeAsync("DashboardContacts")

    }
    <div class="col-lg-8">

        <div class="row">

            @if (User.HasClaim("Permission", "Article.Read"))
            {
                @await Component.InvokeAsync("GetArticles")

            }
            @if (User.HasClaim("Permission", "Announcement.Read"))
            {
                @await Component.InvokeAsync("GetAnnouncements")

            }

        </div>


        <div class="row">
            @if (User.HasClaim("Permission", "Assignment.Read"))
            {
                @await Component.InvokeAsync("GetAssignments")

            }
            @if (User.HasClaim("Permission", "Comment.Read"))
            {
                @await Component.InvokeAsync("GetComments")

            }
        </div>
    </div>


</div>



@section Script{

    <script src="~/lib/jquery.toast.min.js"></script>

    <script src="~/inspinia-gh-pages/js/plugins/chartJs/Chart.min.js"></script>

    <script src="~/js/visitchart.js"></script>

    <script>
        $(".myBox").click(function () {
            window.location = $(this).find("a").attr("href");
            return false;
        });
    </script>

   @*  <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

    <script src="~/js/notification.js"></script>
 *@
    <script>


        $(document).ready(function () {

            $.toast({
                heading: 'Welcome again.',
                text: "This is the administration panel of Kur'an Nesli.",
                showHideTransition: 'slide',
                position: 'top-right',
                hideAfter: 1500,
            })


        }
        );



    </script>




}