
<div class="sidebar-widget featured-post">

    <h6> Articles </h6>

    <div class="recent-post mb-20">
     
        <div class="recent-post-img">
            <a href="standard-formate.html"><img src="assets/image/life-style/sidebar-img1.png" alt=""></a>
        </div>

        <div class="recent-post-content">
            <a href="life-style.html"> Published Date </a>
            <h5><a href="standard-formate.html"> Article Name </a></h5>
        </div>
    </div>

</div>