
@await Component.InvokeAsync("SubscribeNewsletterComponent")

<div class="life-style-sidebar">

   
  

    @await Component.InvokeAsync("SideBarPostsComponent")
    
    @await Component.InvokeAsync("SideBarCategoriesComponent")


</div>
