
<div class="col-lg-3">
    <div class="ibox ">
        <div class="ibox-content mailbox-content">
            <div class="file-manager">
                <a class="btn btn-block btn-primary compose-mail" href="mail_compose.html">Compose Mail</a>
                <div class="space-25"></div>
                <h5>Folders</h5>
                <ul class="folder-list m-b-md" style="padding: 0">
                    <li><a href="mailbox.html"> <i class="fa fa-inbox "></i> Inbox <span class="label label-warning float-right">@ViewData["Count"]</span> </a></li>
                    <li><a href="mailbox.html"> <i class="fa fa-envelope-o"></i> Sent</a></li>
                    <li><a href="mailbox.html"> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-danger float-right">2</span></a></li>
                </ul>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div> 
