@model SendMailModel


@{
    ViewData["Title"] = "EditDraft";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<head>

    <link href="~/css/jquery.toast.min.css" rel="stylesheet" />

    <link href="~/inspinia-gh-pages/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/plugins/summernote/summernote-bs4.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />


</head>


<div class="row">

    @await Component.InvokeAsync("ContactFolders")


    <div class="col-lg-9 animated fadeInRight">
        <div class="mail-box-header">
            <h2>
                Edit draft
            </h2>
        </div>
        <div class="mail-box">

            <form asp-action="EditDraft" enctype="multipart/form-data">
                <div class="mail-body">

                    <input asp-for="Id" hidden />

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">To:</label>
                        <div class="col-sm-10"><input class="tagsinput" name="To" value=@string.Join(',',@Model.To) style="padding:6px 12px;" type="text" id="composeTo" /></div>
                        <span style="margin-top:8px;margin:auto" asp-validation-for="To" class="text-danger"></span>

                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Subject:</label>

                        <div class="col-sm-10"><input type="text" id="composeSubject" asp-for="Subject" class="form-control"></div>
                        <span style="margin-top:8px;margin:auto" asp-validation-for="Subject" class="text-danger"></span>

                    </div>


                </div>

                <div class="mail-text h-200">

                    <textarea id="content" asp-for="Content" class="summernote">
                                        </textarea>

                    <span style="margin-top:8px;margin:auto" asp-validation-for="Content" class="text-danger" id="validate3"></span>

                    <div class="clearfix"></div>
                </div>


                <div class="clearfix"></div>


                <div style="margin-right:auto;margin-left:10px; margin-top:10px; " id="attachments" class="row">
                    <span class="text-danger" asp-validation-for="Attachments"></span>
                    @if (Model.AttachmentExists is not null)
                    @for (int i = 0; i < Model.AttachmentExists.Count; i++)
                    {

                            string fileName = Model.AttachmentExists[i];

                        <div id="file+@i" data-fileName="@fileName" style="margin-right:auto;margin-left:10px;" class="file-box">

                            <div class="file">
                                <div onclick="removeFile('@i','@Model.Id')" style="cursor:pointer">

                                    <i class="fa fa-times"></i>
                                </div>

                                <span class="corner"></span>

                                <div class="icon">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="file-name">
                                    <a href="/contact/download/file/@fileName">
                                        @fileName
                                    </a>

                                </div>
                            </div>

                        </div>

                    }
     
                </div>

                <div class="mail-body tooltip-demo">

                    <div class="row">
                        <div style="margin-right:auto;margin-left:8px;">
                            <a href="#" class="text-navy" data-toggle="modal" data-target="#uploadFiles"> <i class="fa fa-paperclip"></i> Add attachment</a>

                        </div>


                        <div style="margin-right:5px;margin-left:auto">

                            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#sendModal" name="Status" value=@ContactStatus.Sent title="Send"><i class="fa fa-reply"></i> Send</button>

                            <button type="submit" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" name="Status" value="@ContactStatus.Drafted" title="Move to draft folder"><i class="fa fa-pencil"></i> Draft</button>

                        </div>

                    </div>

                </div>



                <div class="modal inmodal fade" id="sendModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title"><i class="fa fa-question-circle" aria-hidden="true"></i> Are you sure?</h4>
                            </div>
                            <div class="modal-body">

                                <h5> <i class="fa fa-info-circle" aria-hidden="true"></i> You can not revert it, you may want to check it out again.</h5>


                            </div>
                            <div class="modal-footer">

                                <button type="submit" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" name="Status" value=@ContactStatus.Sent title="Send"><i class="fa fa-reply"></i> Send</button>
                                <button type="button" class="btn btn-white btn-sm " data-toggle="tooltip" data-dismiss="modal" data-placement="top"> Cancel </button>


                            </div>
                        </div>
                    </div>
                </div>






                <div class="modal inmodal fade" id="uploadFiles" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title"><i class="fa fa-paperclip" style="margin-right:3px;"></i> Add attachment</h4>
                            </div>
                            <div class="modal-body">
                                <div class="ibox-content">


                                    <input id="files" asp-for="Attachments" type="file" size="1" multiple onchange="uploadFiles('files',@Model.Id);" />

                                </div>

                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </form>



            <div class="clearfix"></div>



        </div>
    </div>


</div>






@section Script{

    <script src="~/js/contact.js"></script>

    <script src="~/inspinia-gh-pages/js/plugins/iCheck/icheck.min.js"></script>

    <script src="~/inspinia-gh-pages/js/plugins/summernote/summernote-bs4.js"></script>
    <script src="~/inspinia-gh-pages/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="~/lib/jquery.toast.min.js"></script>


    <script>
        $(document).ready(function () {

            $('.summernote').summernote({
                toolbar: [


                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['view', ['codeview']],
                ]
            });

        });

    </script>

    <script>

        $(document).ready(function () {

            $('.tagsinput').tagsinput({
                tagClass: 'label label-default'
            });
        })
    </script>

}

