@model Contact
@{
    ViewData["Title"] = "Reply";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Reply</h1>


<p>@Model.NameSurname</p>
<p>@Model.Subject</p>
<p>@Model.Created</p>



