@using BussinessLayer.Abstract.Services;
@inject IAnnouncementService _announcementManager;

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/css/animate.css">
    <link rel="stylesheet" href="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/css/boxicons.min.css">
    <link rel="stylesheet" href="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/css/style.css">
    <title>Kur'an Nesli </title>
    <link rel="icon" href="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/Documentaion/assets/image/sm-logo.svg" type="image/gif" sizes="20x20">

</head>

<body id="body">

    <!-- scroll top start -->
    <div class="circle-container">
        <svg class="circle-progress svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                  style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919; stroke-dashoffset: 256.939;">
            </path>
        </svg>
    </div>
    <!-- scroll top end -->

    <div class="sidebar-menu">
        <div class="mobile-logo-area d-flex justify-content-between align-items-center">
            <div class="header-logo">
           
            </div>
            <div class="menu-button menu-close-btn">
                <i class="bi bi-x"></i>
            </div>
        </div>

        <ul class="menu-list">

            <li><a href="/"> Anasayfa </a></li>

            <li><a href="/article/all">Yazılar </a></li>

            <li><a href="/category/all">Kategoriler</a></li>

            <li><a href="/about-us">Hakkımızda</a></li>

            <li><a href="/contact-us">Bize Ulaşın</a></li>

            <li><a href="/login/admin">Giriş yapın</a></li>


        </ul>

        <div class="menu-bottom-content">
        </div>

    </div>

    @{


        DashboardAnnouncementViewModel? dashboardAnnouncement = _announcementManager.GetWhere(x => x.IsForAdmins == false && x.Status == true && x.IsAttached == true).Select(x => new DashboardAnnouncementViewModel()
            {
                ID = x.Id,
                Title = x.Title
            }).FirstOrDefault();

    }

    @if (dashboardAnnouncement is not null)
    {
        <div id="announcementBar" class="top-bar">
            <div class="container-fluid">
                <div style="background-color:#e96128" class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <div class="topbar-wrapper">
                            <p style="color:white">


                                <svg style="margin-right:3px;" version="1.1"
                                     id="svg2" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" sodipodi:docname="bullhorn.svg" inkscape:version="0.48.4 r9939"
                                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px"
                                     viewBox="0 0 1200 1200" enable-background="new 0 0 1200 1200" xml:space="preserve">
                                <sodipodi:namedview inkscape:cy="739.20589" inkscape:cx="163.60254" inkscape:zoom="0.26339286" showgrid="false" id="namedview3041" guidetolerance="10" gridtolerance="10" objecttolerance="10" borderopacity="1" bordercolor="#666666" pagecolor="#ffffff" inkscape:current-layer="svg2" inkscape:window-maximized="1" inkscape:window-y="24" inkscape:window-height="876" inkscape:window-width="1535" inkscape:pageshadow="2" inkscape:pageopacity="0" inkscape:window-x="65">
                </sodipodi:namedview>
                                <path id="path3007" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccc" d="M1030.014,96.91
	C874.836,250.578,646.766,344.637,427.042,357.866H100.749C49.358,358.572,2.898,402.262,0,459.889V607.02
	c0.701,51.369,43.068,99.121,100.699,102.021h130.821c-34.962,118.567,2.593,238.596,43.15,356.415
	c60.166,56.81,197.785,49.742,242.638-24.195c-95.523-75.091-142.05-277.145-26.889-326.979
	c196.285,22.271,390.749,122.01,539.594,255.716c51.169-0.701,97.705-42.745,100.699-100.062V628.618
	c102.449-36.383,81.738-164.259,0-190.28V197.659c-0.683-51.365-43.073-97.799-100.699-100.7V96.91z M1032.609,227.045v613.453
	C888.778,728.424,711.072,653.216,527.741,619.46V448.134C707.635,421.062,883.576,338.057,1032.609,227.045z" />
            </svg>



                                @dashboardAnnouncement.Title
                                <a style="color:black" href="/announcement/@GetString.GetSlugUrl(dashboardAnnouncement.Title)/@dashboardAnnouncement.ID"> Hemen Tıkla!</a>
                            </p>
                        </div>
                        <div style="cursor:pointer" onclick="$('#announcementBar').hide();" class="close-btn">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="15" cy="15" r="15" fill="#F7F9F8" />
                                <path d="M19.7435 18.094L11.9059 10.2563C11.7418 10.0923 11.5192 10.0001 11.2872 10.0001C11.0552 10.0001 10.8327 10.0923 10.6686 10.2563L10.2562 10.6687C10.0922 10.8328 10 11.0553 10 11.2874C10 11.5194 10.0922 11.7419 10.2562 11.906L18.0939 19.7436C18.2579 19.9077 18.4805 19.9998 18.7125 19.9998C18.9445 19.9998 19.167 19.9077 19.3311 19.7436L19.7435 19.3312C19.9076 19.1671 19.9997 18.9446 19.9997 18.7126C19.9997 18.4806 19.9076 18.2581 19.7435 18.094Z"
                                      fill="#FF3829" />
                                <path d="M18.0939 10.2563L10.2562 18.094C10.0922 18.2581 10 18.4806 10 18.7126C10 18.9446 10.0922 19.1671 10.2562 19.3312L10.6686 19.7436C10.8327 19.9077 11.0552 19.9998 11.2872 19.9998C11.5192 19.9998 11.7418 19.9077 11.9059 19.7436L19.7435 11.906C19.9076 11.7419 19.9997 11.5194 19.9997 11.2874C19.9997 11.0553 19.9076 10.8328 19.7435 10.6687L19.3311 10.2563C19.167 10.0923 18.9445 10.0001 18.7125 10.0001C18.4805 10.0001 18.2579 10.0923 18.0939 10.2563Z"
                                      fill="#FF3829" />
                                <path d="M11.2875 10.0005C11.0635 10.0005 10.8395 10.0857 10.6686 10.2566L10.2562 10.669C10.0922 10.8331 10 11.0556 10 11.2876C10 11.5196 10.0922 11.7422 10.2562 11.9062L13.3502 15.0002L14.9999 13.3506L11.9059 10.2566C11.8248 10.1752 11.7284 10.1106 11.6223 10.0667C11.5162 10.0227 11.4024 10.0002 11.2875 10.0005Z"
                                      fill="#FF3829" />
                                <path d="M14.9999 13.3503L13.3502 15L10.2562 18.094C10.0922 18.2581 10 18.4806 10 18.7126C10 18.9447 10.0922 19.1672 10.2562 19.3313L10.6686 19.7437C10.7497 19.8252 10.8461 19.8899 10.9523 19.934C11.0584 19.9781 11.1723 20.0008 11.2872 20.0008C11.4022 20.0008 11.516 19.9781 11.6222 19.934C11.7284 19.8899 11.8248 19.8252 11.9059 19.7437L14.9999 16.6497V13.3503Z"
                                      fill="#FF3829" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

    <partial name="_CookieConsentPartial.cshtml" />
    <!-- header area strats here -->

    <header class="ai-technology">
        <div class="container-xxl">
            <div class="col-lg-12">
                <div class="header-wrapper">
                    <div class="logo-sidebar">
                        <div class="sidebar menu-icon d-xl-none d-flex">
                            <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M1.66663 9.16669H18.3333V10.8334H1.66663V9.16669ZM1.66663 4.16669H18.3333V5.83335H1.66663V4.16669ZM1.66663 14.1667H18.3333V15.8334H1.66663V14.1667Z" />
                            </svg>
                        </div>
                        <div class="header-logo">
                          

                        </div>

                        
                        <div class="main-menu">



                            <ul class="menu-list">

                                <li><a href="/"> Anasayfa </a></li>


                                <li><a href="/article/all"> Yazılar </a></li>

                                <li><a href="/category/all"> Kategoriler </a></li>

                                <li><a href="/about-us"> Hakkımızda </a></li>

                                <li><a href="/contact-us">Bize Ulaşın</a></li>


                            </ul>


                            <div class="d-lg-none d-block">
                                <a href="contact.html" class="header-btn">
                                    <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 10L10 1M10 1C8 1.375 3.625 2.125 1 1M10 1C9.625 2.875 8.875 7 10 10"
                                              stroke-width="1.5" stroke-linecap="round" />
                                    </svg>
                                    <svg fill="#000000" width="16px" height="16px" viewBox="0 0 24 24" id="user" data-name="Flat Color" xmlns="http://www.w3.org/2000/svg" class="icon flat-color"><path id="primary" d="M21,20a2,2,0,0,1-2,2H5a2,2,0,0,1-2-2,6,6,0,0,1,6-6h6A6,6,0,0,1,21,20Zm-9-8A5,5,0,1,0,7,7,5,5,0,0,0,12,12Z" style="fill: rgb(0, 0, 0);"></path></svg>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="nav-right d-flex jsutify-content-end align-items-center">

                        <ul class="icon-area">

                            <li class="tt-style-switch">
                                <i class="bi bi-brightness-low-fill"></i>
                            </li>

                            <li  class="search-bar">
                                <div class="search-btn">
                                    <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M7.67434 2.9595C5.06901 2.9595 2.95901 5.06883 2.95901 7.66883C2.95901 10.2688 5.06901 12.3775 7.67434 12.3775C8.97434 12.3775 10.1497 11.8535 11.003 11.0042C11.4432 10.5675 11.7924 10.0479 12.0304 9.47539C12.2684 8.90288 12.3905 8.28885 12.3897 7.66883C12.3897 5.06883 10.2797 2.9595 7.67434 2.9595ZM1.33301 7.66883C1.33301 4.16883 4.17301 1.3335 7.67434 1.3335C11.1757 1.3335 14.0157 4.16883 14.0157 7.66883C14.0175 9.072 13.5514 10.4357 12.691 11.5442L14.4277 13.2788C14.5081 13.3531 14.5728 13.4429 14.6177 13.5427C14.6627 13.6426 14.687 13.7505 14.6892 13.86C14.6914 13.9695 14.6715 14.0783 14.6306 14.1799C14.5898 14.2815 14.5289 14.3738 14.4515 14.4513C14.3741 14.5287 14.2818 14.5898 14.1803 14.6308C14.0787 14.6717 13.9699 14.6918 13.8605 14.6897C13.751 14.6876 13.643 14.6634 13.5431 14.6186C13.4432 14.5737 13.3534 14.5092 13.279 14.4288L11.539 12.6915C10.4313 13.5441 9.0722 14.0055 7.67434 14.0035C4.17301 14.0035 1.33301 11.1682 1.33301 7.66883Z" />
                                    </svg>
                                </div>

                                <div style="max-width:400px;" class="search-input">

                                    <div class="serch-close"></div>
                                    <form>


                                            <div class="search-group">
                                                <div class="form-inner2">
                                                    <input type="text" id="searchInput" placeholder="Yazı ara...">
                                                    <button onclick="quickSearch()" type="button">
                                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                  d="M7.67458 2.95934C5.06925 2.95934 2.95925 5.06868 2.95925 7.66868C2.95925 10.2687 5.06925 12.3773 7.67458 12.3773C8.97459 12.3773 10.1499 11.8533 11.0033 11.004C11.4434 10.5674 11.7926 10.0477 12.0307 9.47524C12.2687 8.90273 12.3908 8.28869 12.3899 7.66868C12.3899 5.06868 10.2799 2.95934 7.67458 2.95934ZM1.33325 7.66868C1.33325 4.16868 4.17325 1.33334 7.67458 1.33334C11.1759 1.33334 14.0159 4.16868 14.0159 7.66868C14.0178 9.07185 13.5516 10.4356 12.6913 11.544L14.4279 13.2787C14.5084 13.353 14.573 13.4427 14.618 13.5426C14.6629 13.6424 14.6872 13.7503 14.6894 13.8598C14.6916 13.9693 14.6717 14.0781 14.6309 14.1797C14.59 14.2813 14.5291 14.3736 14.4517 14.4511C14.3743 14.5286 14.2821 14.5896 14.1805 14.6306C14.079 14.6716 13.9702 14.6916 13.8607 14.6895C13.7512 14.6874 13.6433 14.6632 13.5434 14.6184C13.4435 14.5736 13.3536 14.5091 13.2793 14.4287L11.5393 12.6913C10.4316 13.544 9.07244 14.0054 7.67458 14.0033C4.17325 14.0033 1.33325 11.168 1.33325 7.66868Z" />
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="quick-search">

                                                <ul style="display:inline-block;list-style-type:disc" id="results">
                                                </ul>
                                            </div>

                                      
                                    </form>


                                </div>


                            </li>

                        </ul>
                        <a href="/login/admin" class="header-btn hover-btn three">
                           
                            <svg fill="#000000" width="16px" height="16px" viewBox="0 0 24 24" id="user" data-name="Flat Color" xmlns="http://www.w3.org/2000/svg" class="icon flat-color"><path id="primary" d="M21,20a2,2,0,0,1-2,2H5a2,2,0,0,1-2-2,6,6,0,0,1,6-6h6A6,6,0,0,1,21,20Zm-9-8A5,5,0,1,0,7,7,5,5,0,0,0,12,12Z" style="fill: rgb(0, 0, 0);"></path></svg>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header area ends here -->
    @RenderBody()











    <!-- Footer section strats here -->
    @await Component.InvokeAsync("FooterComponent")

    <!-- Footer section ends here -->

    <script src="~/js/jsui/common.js"></script>
    <script src="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/js/jquery-3.7.1.min.js"></script>
    <script src="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/js/jquery-ui.js"></script>
    <script src="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/js/waypoints.js"></script>
    <script src="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/js/jquery.counterup.min.js"></script>
    <script src="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/js/jquery.marquee.min.js"></script>
    <script src="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/js/wow.min.js"></script>
    <script src="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/js/popper.min.js"></script>
    <script src="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/js/swiper-bundle.min.js"></script>
    <script src="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/js/jquery.fancybox.min.js"></script>
    <script src="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/js/wow.min.js"></script>
    <script src="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/js/bootstrap.min.js"></script>
    <script src="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/js/custom.js"></script>

    @RenderSection("scripts", false)

</body>

</html>