
@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}



<div class="blog-post-10 pt-20 mb-120">
    <div class="container">
        <div class="inner-page-breadcrumb-wrapper">
            <ul>
                <li><a href="/">Anasayfa</a></li>
                <li>Gizlilik Sözleşmesi</li>
            </ul>
        </div>
        <span class="line-break2"></span>
        <span class="line-break2"></span>
        <span class="line-break2"></span>
        <div class="row g-lg-4 gy-5">
            <div class="col-lg-8">
               

                </div>
            </div>
            <div class="col-lg-4">
                @await Component.InvokeAsync("SideBarComponent")

            </div>
        </div>
    </div>
