@using GonulInsanlari.Enums;
@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
}


<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Gonul Insanlari | Forgot password</title>



    <link href="~/inspinia-gh-pages/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/jquery.toast.min.css" rel="stylesheet" />

    <link href="~/inspinia-gh-pages/css/animate.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold">Forgot Password</h2>

                    <p>
                        Enter your email address and link to reset your password will be sent to you.
                    </p>

                    <div class="row">

                        <div class="col-lg-12">
                            <form class="m-t" role="form" asp-action="ForgotPassword">
                                <div class="form-group">
                                    <input type="email" asp-for="Email" class="form-control" placeholder="Email address" required="">
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b post">Send link</button>

                            </form>
                        </div>
                    </div>
                    <span class="text-danger"> @TempData["Error"] </span>
                    <span class="text-success"> @TempData["Success"] </span>

                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                Gonul Insanlari
            </div>
            <div class="col-md-6 text-right">
                <small>© 2024</small>
            </div>
        </div>
    </div>

</body>

</html>
