@model CategoryEditViewModel
@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit Article</h1>

<h3>@Model.CategoryID / @Model.Name</h3>