@model CategoryDetailViewModel
@{
    ViewData["Title"] = "GetDetails";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-lg-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>@Model.Name - @Model.Created</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <img style="width:100%" alt="image" src="~/Images/@Model.ImagePath">
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Description</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content profile-content">

                <div style="overflow-wrap: break-word;">
                    @Html.Raw(Model.Description)


                </div>


                @await Component.InvokeAsync("ArticleByCategoryDetails",new {Id=Model.Id})

            </div>
        </div>
    </div>
    <div class="col-lg-1">
        <a href="/Admin/Category/EditCategory/@Model.Id" class="btn btn-primary">Edit <i class="fa fa-pencil-square-o"></i></a>

    </div>
</div>

@section Script{
    <script>

        $(".myBox").click(function () {
            window.location = $(this).find("a").attr("href");
            return false;
        });

    </script>
    <script>
        $(document).ready(function () {
            $("#dataTable").dataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.13.7/i18n/en-GB.json"
                },
                "searching": true,
                "ordering": true,
                "paging": true,
                "pagingType": "full_numbers",
                "pageLength": 10,
                "responsive": true,
                "columnDefs": [{
                    "targets": 3,
                    "orderable": false
                }]
            });
        });
    </script>

}