@model ArticleDetailsUIViewModel
@{
    ViewData["Title"] = "GetDetails";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<p> @Model.Title </p>

<p> @Model.CategoryName </p>

<p> @Model.Created </p>