
<table class="table small m-b-xs">
    <tbody>
        <tr>
            <td>
                <strong>@ViewData["Articles"]</strong> Articles
            </td>
            <td>
                <strong>@ViewData["Tasks"]</strong> Tasks
            </td>

        </tr>
        <tr>
            <td>
                <strong>@ViewData["Announcements"]</strong> Announcements
            </td>
            <td>
                <strong>54</strong> Days Passed
            </td>
        </tr>
    </tbody>
</table>