
<div class="sidebar-widget discover-post">

    <h6 class="discover-title">
      Categories
        <svg class="arrow" width="10" height="10" viewBox="0 0 10 10" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M1 9L9 1M9 1C7.22222 1.33333 3.33333 2 1 1M9 1C8.66667 2.66667 8 6.33333 9 9"
                  stroke="white" stroke-width="1.5" stroke-linecap="round"></path>
        </svg>
    </h6>

    <ul class="category">

        <li>
            <a href="#"> Category Name (Article Count) </a>
        </li>


    </ul>

</div>