@model List<DashboardAnnouncementViewModel>

<div class="col-lg-6">
    <div class="ibox ">
        <div class="ibox-title">
            <h5><a href="/Admin/Announcement/List" style="color:inherit">Announcements</a></h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        @if (Model is not null)
        {


            @foreach (var announce in Model)
            {

                <div style="cursor:pointer" class="ibox-content ibox-heading myBox">
                    <h3>
                        <i style="margin-right:15px;" class="fa fa-bullhorn fa-lg"></i>@announce.Title - @announce.Subject
                    </h3>

                    <small class="float-right text-navy">@GetDate.GetCreateDate(@announce.Created)</small>
                    <a href="/Admin/Announcement/GetDetails/@announce.ID"></a>

                </div>
            }
        }else{
            <div class="ibox-content ibox-heading">
                <h3>
                   There is no announcement yet.
                </h3>
            </div>
        }
    </div>

</div>
<script>
    $(".myBox").click(function () {
        window.location = $(this).find("a").attr("href");
        return false;
    });
</script>