@using EntityLayer
@model Article
@{
    ViewData["Title"] = "AddArticle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/inspinia-gh-pages/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="~/inspinia-gh-pages/css/plugins/summernote/summernote-bs4.css" rel="stylesheet">
<link href="~/inspinia-gh-pages/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">
<link href="~/css/fileupload.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/inspinia-gh-pages/js/plugins/cropper/cropper.min.js"></script>

<script src="~/inspinia-gh-pages/js/plugins/ladda/spin.min.js"></script>
<script src="~/inspinia-gh-pages/js/plugins/ladda/ladda.min.js"></script>
<script src="~/inspinia-gh-pages/js/plugins/ladda/ladda.jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Add a new article</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div style="height:100%;" class="ibox-content">

                    <div class="text-center m-t-md">
                        <h2>Please fill the required fields below.</h2>

                        <form id="form_id" asp-action="AddArticle"  enctype="multipart/form-data">
                            @Html.AntiForgeryToken()
                            <div style="margin-top:30px;" class="form-group  row">
                                <label class="col-sm-2 col-form-label">Title</label>
                                <div class="col-sm-10">
                                    <input type="text" id="title" asp-for="Title" class="form-control">
                                    <div style="margin-top:5px;">
                                        <span asp-validation-for="Title" class="text-danger" id="validate"></span>
                                    </div>
                                </div>


                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group  row">
                                <label class="col-sm-2 col-form-label">Category</label>
                                <div class="col-sm-10">
                                    <select asp-for="CategoryID" id="drop" class="form-control" asp-items="ViewBag.Categories"></select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>


                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Upload Image</label>



                                <div class="col-sm-10">
                                    <div class="input-group m-b">
                                        <div class="input-group-prepend">
                                            <button onclick="$('#fileUpload').trigger('click'); return false;" href="#" class="btn btn-white " type="button">Upload</button>
                                            <input style="display:none" type="file" name="file" accept="image/*" onchange="showImageName(this)" asp-for=ImagePath id="fileUpload">
                                        </div>

                                        <input type="text" id="textbox1" class="form-control">



                                    </div>
                                    <span asp-validation-for="ImagePath" class="text-danger" id="validate2"></span>
                                    <input style="display:none" class="custom-file-input" id="imgupload" name="video" type="file" onchange="showFileName(this)" accept="video/*">
                                    <input id="isdraft" type="hidden" value="true" />

                                </div>


                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Upload Video</label>

                                <div class="col-sm-10">
                                    <div class="input-group m-b">
                                        <div class="input-group-prepend">
                                            <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">Upload</button>
                                            <ul class="dropdown-menu">
                                                <li style="list-style-type:none"><a onclick="$('#imgupload').trigger('click'); return false;" href="#">Upload from device</a></li>
                                                <li style="list-style-type:none"><a href="#" data-toggle="modal" data-target="#myModal">Upload a youtube Video</a></li>

                                            </ul>
                                        </div>

                                        <input type="text" style="background-color:white" id="textbox" class="form-control" readonly="readonly">
                                    </div>
                                    <input style="display:none" class="custom-file-input" id="imgupload" name="video" type="file" onchange="showFileName(this)" accept="video/*">


                                </div>
                                <span style="margin-left:auto;margin-right:auto" class="text-danger">@TempData["Error"]</span>

                                <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content animated bounceInRight">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <i class="fa fa-youtube-play modal-icon"></i>
                                                <h4 class="modal-title">Upload From Youtube</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    Upload a youtube video by typing the Url address below.
                                                </p>
                                                <div class="form-group"><label>Video Url</label> <input type="url" name="Url" id="videourl" onchange="showVideoUrl(this)" class="form-control"></div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                                <button type="button" data-dismiss="modal" class="btn btn-primary">Done</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Upload Video</label>
                                <div class="col-sm-10">
                                    <textarea id="content" asp-for="Content" class="summernote">
                                        </textarea>

                                    <span style="margin-top:5px;" asp-validation-for="Content" class="text-danger" id="validate3"></span>



                                </div>

                            </div>
                            <div class="form-group row">


                                <div style="margin-right:15px;margin-left:auto">
                                    <button id="btndraft"  class="ladda-button ladda-button-demo btn btn-warning" name="isDraft" value="true" data-style="zoom-in"><i class="fa fa-floppy-o"></i> Draft</button>
                                    <button id="btn" class="ladda-button ladda-button-demo btn btn-primary" data-style="zoom-in"><i class="fa fa-check"></i> Submit</button>

                                </div>
                            </div>
                        </form>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>


@section Script {

    <script src="~/inspinia-gh-pages/js/plugins/sweetalert/sweetalert.min.js"></script>

    <script>

        $(document).ready(function () {

            // Bind normal buttons
            Ladda.bind('.ladda-button', { timeout: 2000 });

            // Bind progress buttons and simulate loading progress
            Ladda.bind('.progress-demo .ladda-button', {
                callback: function (instance) {
                    var progress = 0;
                    var interval = setInterval(function () {
                        progress = Math.min(progress + Math.random() * 0.1, 1);
                        instance.setProgress(progress);

                        if (progress === 1) {
                            instance.stop();
                            clearInterval(interval);
                        }
                    }, 200);
                }
            });


            var l = $('.ladda-button-demo').ladda();

            l.click(function () {
                // Start loading
                l.ladda('start');

                document.getElementById("form_id").submit();
                setTimeout(function () {
                    l.ladda('stop');
                }, 12000)


            });

        });

    </script>
    <script src="~/inspinia-gh-pages/js/plugins/summernote/summernote-bs4.js"></script>
    <script src="sweetalert2.all.min.js"></script>

    <script>
        function showFileName(input) {
            var file = $("#imgupload").val().split('\\').pop();;
            document.getElementById("textbox").value = file;
        }
        function showImageName(input) {
            var file = $("#fileUpload").val().split('\\').pop();;
            document.getElementById("textbox1").value = file;
        }
        function showVideoUrl(input) {
            var url = $("#videourl").val();
            document.getElementById("textbox").value = url;
        }
    </script>
   
    <script>
        $(document).ready(function () {

            $('.summernote').summernote();

        });
     

    </script>
  <script>
        $(document).ready(function () {
            $('#summernote').summernote();
            $('div.note-editable').css({ 'min-height': 250 + 'px' });
        });
</script>



}
