@model AnnouncementDetailsViewModel
@{
    ViewData["Title"] = "GetDetails";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row justify-content-md-center">
        <div class="col-lg-10">
            <div class="ibox">
                <div class="ibox-content" style="overflow-x:hidden">
                    <div style="margin-bottom:25px;" class="text-center article-title">


                        <span class="text-muted"><i class="fa fa-clock-o"></i> @GetDate.GetCreateDate(Model.Created)</span>



                        <h1 style="margin-bottom:40px;">
                            <i class="fa fa-bullhorn"></i>  @Model.Title
                        </h1>

                        <div>
                            <p style="margin-top:50px;">
                                @Html.Raw(@Model.Details)

                            </p>


                            <h5 style="padding-top:20px;" class="float-left">Published by @@@Model.AppUser</h5>


                            <a style="margin-right:0;margin-left:5px;margin-top:15px;" class="btn btn-default float-right" href="javascript:window.print()"><i class="fa fa-print"></i>Print</a>

                          
                                <a style="margin-right:0;margin-top:15px;" class="btn btn-primary float-right" href="/announcements/edit/@Model.Id"><i style="margin-right:3px;" class="fa fa-pencil"></i> Edit</a>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
