@model PrivacyViewModel
@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/inspinia-gh-pages/css/plugins/summernote/summernote-bs4.css" rel="stylesheet">
<link href="~/css/jquery.toast.min.css" rel="stylesheet" />



<div class="modal inmodal fade" id="editPrivacy" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><i class="fa fa-file-text" style="margin-right:3px;"></i> Privacy Statement</h4>
            </div>
            <div id="inputLocater" class="modal-body">

                <div class="row">
                    <div class="col-lg-12">

                        <input type="hidden"  id="Id" value="@Model?.Id" />

                        <div class="form-group">

                            <label class="col-form-label">Title</label>

                            <div><input id="title" type="text" name="Title" class="form-control"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Details</label>

                            <div>
                                <textarea style="height:200px;" id="content" type="text" name="Content" class="summernote">

                                    </textarea>
                            </div>

                        </div>

                    </div>



                </div>


                <div>
                    <ul id="validation">
                    </ul>
                </div>



                <div id="" class="modal-footer">
                    <button type="button" id="btnEdit" onclick="editPrivacy();" class="btn btn-primary"> Save </button>

                </div>
            </div>
        </div>
    </div>
</div>



@if (Model is not null)
{
    <div class="wrapper wrapper-content  animated fadeInRight article">
        <div class="row justify-content-md-center">
            <div class="col-lg-10">
                <div class="ibox">
                    <div class="ibox-content" style="overflow-x:hidden">
                        <div style="margin-bottom:25px;" class="text-center article-title">

                            <h1 style="margin-bottom:40px;">
                                @Model.Title
                            </h1>

                            <div>
                                <p style="margin-top:50px;">
                                    @Html.Raw(@Model.Content)

                                </p>


                               
                                    <a style="margin-right:0;margin-top:15px;" data-toggle="modal" data-target="#editPrivacy" onclick="getPrivacy('@Model.Id');" class="btn btn-primary float-right" href="#"><i style="margin-right:3px;" class="fa fa-pencil"></i> Edit</a>

                                




                            </div>
                        </div>






                    </div>

                </div>

            </div>
        </div>

    </div>

}
else
{
    <div class="middle-box text-center animated fadeInDown">
        <h1>Sorry!</h1>
        <h3 class="font-bold">No Privacy Statement Found</h3>

        <div class="error-desc">
            There is no Privacy Statement found. You can add it by clicking the button below.
        </div>

        <div>

            <a href="#" data-toggle="modal" data-target="#editPrivacy" onclick="getPrivacy();" class="btn btn-primary"> <i class="fa fa-plus" style="margin-right:3px;"></i>Add </a>







        </div>

    </div>
}



@section Script {

    <script src="~/lib/jquery.toast.min.js"></script>

    <script src="~/js/privacy.js"></script>
    <script src="~/inspinia-gh-pages/js/plugins/summernote/summernote-bs4.js"></script>


    <script>
        $(document).ready(function () {

            $('.summernote').summernote();

        });


    </script>
    <script>
        $(document).ready(function () {

            $('#summernote').summernote('fontName', 'Helvetica');
            $('#summernote').summernote('fontSize', '16');

            $('div.note-editable').css({ 'min-height': 250 + 'px' });
        });
    </script>

}

