@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}




<!-- Banner area strats here -->


@await Component.InvokeAsync("BannerComponent")



<!-- Banner area ends here -->




<div class="blog-post2">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-8">

                @await Component.InvokeAsync("LandingPageArticlesComponent")

            </div>

            <div class="col-lg-4">

                @await Component.InvokeAsync("SideBarComponent")
                
    
            </div>

        </div>

    </div>

</div>









