

<div class="row d-print-none">
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <span class="text text-success float-right">Monthly</span>
                <i class="fa fa-eye"></i><h5 style="padding-left:5px;"><a href="#" data-toggle="modal" data-target="#visits" style="color:inherit">Visits</a> </h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@ViewData["VisitorCount"]</h1>
            </div>
        </div>
    </div>

    @if (User.HasClaim("Permission", "Article.Read"))
    {
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <i class="fa fa-file"></i>  <h5 style="padding-left:5px;"><a href="/articles/list" style="color:inherit">Articles</a> </h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewData["ArticleCount"]</h1>
                </div>
            </div>
        </div>
    }
   

    @if (User.HasClaim("Permission", "Comment.Read"))
    {
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                   
                    <i class="fa fa-comments"></i> <h5 style="padding-left:5px;"><a href="/comments/list" style="color:inherit">Comments</a> </h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewData["CommentCount"]</h1>
                </div>
            </div>
        </div>
    }

    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <i class="fa fa-users"></i><h5 style="padding-left:5px;"><a href="/subscriptions/list" style="color:inherit">Subscriber</a> </h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@ViewData["SubscriberCount"]</h1>
            </div>
        </div>
    </div>
</div>




<div class="modal inmodal fade " id="visits" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div id="printable" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close d-print-none" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><i class="fa fa-eye" style="margin-right:3px;"></i> Visits </h4>
            </div>
            <div id="inputLocater" class="modal-body">

                <div>
                    <canvas id="barChart" height="140"></canvas>
                </div>

                <div class="row">


                    <div class="ibox-content table-responsive">
                        <table class="table table-hover no-margins">
                            <thead>
                                <tr>
                                    <th><i class=""></i></th>
                                    <th>Year</th>
                                    <th>Count</th>
                                </tr>
                            </thead>
                            <tbody id="visitorTable">



                                   

                               

                            </tbody>
                        </table>
                    </div>

                </div>

                <div id="" class="modal-footer">

                    <div>

                    </div style="margin-right:0;margin-top:15px;">
                    <a class="btn btn-danger float-right" href="#" onclick="deleteRecords()"><i class="fa fa-trash"></i> Delete all the records </a>
                    <a class="btn btn-default float-right" href="javascript:window.print()"><i class="fa fa-print"></i> Print chart</a>

                </div>
            </div>
        </div>
    </div>
</div>
