


<div class="row">
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <span class="text text-success float-right">Monthly</span>
                <i class="fa fa-eye"></i><h5 style="padding-left:5px;"><a href="#" style="color:inherit">Visits</a> </h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">40 886,200</h1>
            </div>
        </div>
    </div>

    @if (User.HasClaim("Permission", "Article.Read"))
    {
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <i class="fa fa-file"></i>  <h5 style="padding-left:5px;"><a href="/articles/list" style="color:inherit">Articles</a> </h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewData["ArticleCount"]</h1>
                </div>
            </div>
        </div>
    }
   

    @if (User.HasClaim("Permission", "Comment.Read"))
    {
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                   
                    <i class="fa fa-comments"></i> <h5 style="padding-left:5px;"><a href="/comments/list" style="color:inherit">Comments</a> </h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewData["CommentCount"]</h1>
                </div>
            </div>
        </div>
    }

    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <i class="fa fa-users"></i><h5 style="padding-left:5px;"><a href="/subscriptions/list" style="color:inherit">Subscriber</a> </h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@ViewData["SubscriberCount"]</h1>
            </div>
        </div>
    </div>
</div>
