

<div class="banner-swipe mb-60">

    <div class="container-xl">

        <div class="row gy-4 g-4">

            <div class="col-lg-12 pt-40">

                <div class="swiper banner-slider3">

                    <div class="swiper-wrapper">

                        <div class="swiper-slide">

                            <div class="row gy-4">
                                <div class="col-lg-6 col-md-6 d-flex align-items-center">
                                    <div class="banner-content">
                                        <ul class="btn-area">

                                            <li class="basic-btn"><a href="ai-category.html"> Category Name </a></li>



                                        </ul>

                                        <h1><a href="standard-formate.html"> Article Name </a></h1>
                                        <p> Article Description </p>

                                        <div class="author-area">
                                            <div class="author-img">
                                                <a href="editor-profile.html"><img src="../assets/image/ai-technology/Image-46.png" alt=""></a>
                                            </div>
                                            <div class="author-content">
                                                <div class="author-name">
                                                    <a href="editor-profile.html"> Author Name </a>
                                                </div>
                                                <div class="publish-date">
                                                    <a href="ai-category.html"> Published Date </a>
                                                    <span> Read Count </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-lg-6 col-md-6 d-md-flex d-none justify-content-end">

                                    <div class="banner-img">
                                        <img src="~/themeforest-PGuHNIZx-zorik-modern-lightweight-blog-html-template/main-files/zorik/assets/image/ai-technology/Robot-Image.png" alt="">
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="row pt-50">

            <div class="col-lg-12 position-relative">

                <div class="swiper-pagination"></div>

            </div>

        </div>

    </div>

</div>

