@model List<AssignmentBarViewModel>

<div class="sidebar-title">
    <h3>Assignments</h3>
    <p style="font-weight:600"><i class="fa fa-tim"></i>@ViewData["Count"], <a href="/assignments/list">see all</a>.</p>
</div>

<div>
    @foreach (var assignment in Model)
    {
        <div style="cursor:pointer" class="sidebar-message myBox">
            <a href="/assignments/details/@assignment.Id">

                <div style="margin-right:8px;" class="float-left text-center">
                    <i class="fa fa-calendar"></i>
                </div>
                <div class="media-body">
                    <h4> @assignment.Title</h4>

                    @Html.Raw(assignment.Content.Substring(0,30))...

                    <br>

                    <small class="text-muted">@assignment.Due.Subtract(assignment.Created).Days days left</small>
                    <div class="progress progress-mini">
                        <div style="width:@ProgressBarWidth.GetWidthBySubTasks(assignment.SubTasks,assignment.SubTasksDone)%;" class="progress-bar progress-bar-warning"></div>
                    </div>

                </div>
            </a>

        </div>
    }
</div>

