@model List<(int,string,string)>

<div class="full-height-scroll">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th><i class="fa fa-user"></i></th>
                    <th>Username</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="table1">
                @foreach (var user in Model)
                {
                    
                    <tr>
                        <td class="client-avatar"><img alt="image" src="~/Images/@user.Item3"> </td>
                        <td><a href="#userProfile/@user.Item1" class="client-link">@user.Item2</a></td>
                        <td>Admin</td>
                        <td>
                            @if (ViewBag.userExists)
                            {
                            <a class="btn-danger btn btn-xs" onclick="deleteUser(@user.Item1)" href="#"><i class="fa fa-trash"></i></a>
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
       
        @await Component.InvokeAsync("AssignmentGetUsersToAdd",new { assignmentId=ViewData["assignmentId"]})

    </div>
</div>